{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Game!</title>

    <link rel="stylesheet" type="text/css" href="{% static 'game/style.css' %}" />
</head>
<body>
    <div class="layout">
        <div class="header">
            Header
        </div>
        <div class="game">
            <p>Hello, World. Let me tell you a story ...</p>
        </div>
        <div class="footer">
            (C) Finn Huhne 2017
        </div>
    </div>
</body>
</html>