{% extends 'game/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="layout">
        <div class="header">
            X in a row - the ultimate game
        </div>
        <div class="game">

            <div class="top">
               <p>Hello, World. Let me tell you a story ...</p>
            </div>
            <div class="side">
                Something on the side
            </div>
            <div class="board">
            <ul>
                {% for game in games %}
                    <li><a href="{% url 'game' game.id %}">{{ game.name }}</a></li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="footer">
            (C) Finn Huhne 2017
        </div>
    </div>
{% endblock %}